#ModalWindow {
  position: relative;
  z-index: 1;
  background-color: lightgrey;
  position: fixed;
  height: 90%;
  width: 90%;
  left: 2vw;
  top: 2vh;
  border-radius: 1vh;
  overflow: auto;
}

#ModalWindow > div  {
  width: 96%;
  display: inline-block !important;
  padding-left: 2%;
  padding-top: 1%;
}

#GDPGraph {
  width: 49% !important;
  display: inline-block !important;
  float: left;
}

#JobGraph {
  width: 49% !important;
  display: inline-block !important;
}

#PopulationGraph {
  width: 49% !important;
  display: inline-block !important;
}

#CompareContainer {
  height: 60vh;
  overflow: scroll;
}

#GDPComparisonContainer {
  width: 50%;
  display: inline-block;
}

#GDPComparisonIndustry1 {
  width: 49% !important;
  aspect-ratio: 1 !important;
  display: inline-block;
}

#GDPComparisonIndustry2 {
  width: 49% !important;
  display: inline-block;
  aspect-ratio: 1 !important;
}

#GDPComparisonSector1 {
  width: 49% !important;
  display: inline-block;
}

#GDPComparisonSector2 {
  width: 49% !important;
  display: inline-block;
}

.tab-pane > div {
  width: 100% !important;
}